html,
body {
  margin: 0;
  padding: 0;
}
main{
  min-height: calc(100vh - 110px);
}

@mixin responsive-width {
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 94%;
  }

  @media (max-width: 767px) {
    width: 98%;
  }
  @media (max-width: 375px) {
    width: 95%;
  }
  max-width: 1600px;
}
